.navbar {
    width: 100%;
    color: ghostwhite;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    text-align: center;
  }

  #score {
    padding-left: 32%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }

  #message {
    font-family: 'Limelight', cursive;
    font-size: 1.5rem;
    font-weight: bold;
  }

  #top-score {
    padding-right: 32%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }

 