.navbar {
  background: transparent;
    width: 100%;
    color: ghostwhite;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    text-align: center;
  }

  #score {
    padding-left: 32%;
  }

  #top-score {
    padding-right: 32%;
  }

 